#popupContent {
    margin-top: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
}

#popupContent div {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: .5em 1em;
    min-height: 2em;
    border: none;
    outline: none;
    overflow: visible;
}

.picker_wrapper {
    top: -50px;
    left: 0;
    position: absolute !important;
}

body {
    text-align:center;
    width: 500px;
}

button {
    width:100%;
    color:white;
    background:linear-gradient(#e1c301, #d78532);
    border-width: 0;
    border-radius: 20px;
    padding:5px;
    font-weight: bold;
    cursor:pointer;
    transition: opacity 100ms;
}

button:active {
    opacity: 50%;
}